 @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Quicksand:wght@300;400&family=Tangerine:wght@400;700&display=swap');


.logo{
  width: 70px;
  height: 70px;
  margin-right: 5rem;
  border-radius: 50%;
}

nav{
  margin: 0.5rem 8rem;
}

a{
  font-family: 'Quicksand', sans-serif;
  margin-left: 7rem;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  box-shadow: 1rem;
  color: black;
}

nav>a:hover{
  cursor: pointer;
  color: #00FF00;
  text-decoration: underline;
  transition: 0s;
  text-decoration-color: #FFCC00;
}



.left{
  padding: 7rem 10rem;
}

@media (max-width: 768px) {
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 2rem;
  }

  nav {
    margin: 0.5rem 2rem; /* Reduce margin for smaller screens */
  }

  a {
    margin-left: 2rem; /* Reduce margin for smaller screens */
    font-size: 0.7rem; /* Reduce font size for smaller screens */
  }

  .left {
    padding: 2rem; /* Reduce padding for smaller screens */
  }
}
